/* main elements */

/*
Notes:
1. padding - extends the size of the element within the boundaries of the containing element
2. margin - moves the element within the boundaries of the containing element. You can use negative
	margins to move beyond the boundaries of the containing element

*/
body {
	background-color: #fff55;
	text-align: center;
}

#header {
	/*NOTE:If you you make this a positioned element - the element following this 
	in the HTML code will will have to be position as well otherwise the non-position
	element will start at the top overlapping the header since HTML flow is not 
	aware if positioned elements */
	width: 100%;
	margin-top: 15px;
	height: 60px;
}

#header #logo {
	float: left;
	margin-left: 5px;
	border-style: none;
	
}

#header #search {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}

#menuBar {
	
	/*NOTE: Without this clear property, the menuBar would float up in between the heading
	logo and search blocks because these two are using floats element are using floats */
	/* The alternative is to give the heading a height, then the menuBar will flow immediately
	beneath the heading */
	
	/* clear: both; */

	width: 100%;
	font-family: serif;
	font-weight:bold;
	font-size: 10px;
	
	/* NOTE: Without the padding you will not see this background element. You
	would see the child element - login and account links, but not the background bar
	Alternative is to set the height property, but avoid using height */
	
	padding-top: 5px;
	padding-bottom: 15px;
	background: #B4CFEC;
	border-radius: 30px 30px;
	-moz-border-radius: 30px 30px;
	

	margin-bottom: 20px;
	margin-right: 10px;
	border-style: hidden;

}

#menuBar #login {
	margin-left: 20px;
	float: left;
	text-align: left;
}

#menuBar #account{
	float: right;
	margin-right: 20px;
}

#content {
	width: 100%;
	clear: both;
}

#content #side-bars {
	font-size: 10px;
	text-align: left;
	line-height: 95%;
	background-color: black;
}


#content #l-side-bar {
	float: left;
	padding-right: 20px; 
}

#content #r-side-bar {
	float: right;
	padding-left: 30px;
	padding-right: 20px;
}

#content  #mainContent {
	text-align: left;
	padding-top: 0px;
	/* use the overflow property to prevent the main content text, when longer than side bar, to
	wrap under side bar
	*/
	overflow: hidden;
}

table.items {
	font-size: 10px;
	text-align: left;
	font-family: serif;
}

#mainContent #trail {
	font-size: 10px;
}

/* Note: This is one way to give common properties to different selectors */
#mainContent #pagedInfo, #resultInfo {
	padding-top: 5px; 
	padding-left: 5px;
	font-family: serif;
	font-size: 10px;
	text-align: left;
	font-weight: bold;
	background-color: #D3D3D3;
}

#pagedInfo {
	padding-bottom: 5px;
}


#pagedInfo a {
	font-size: 10px;
	/*text-decoration: none; */
	color: blue;
}

#info #resultInfo {
	padding-bottom: 20px;
}

#resultInfo a {
	font-family:sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: blue;
}

.clear {
	/* prevents text running under shorter floated blocks */
	clear: both;
}

#footer {
	/* I want the footer to be lower than the longest side bar, but this will not be the case
	when the main content is higher up on the page that the bottom of the side bar. The footer 
	would float up under the main content block, unless I clear floating */
	clear: both;
}


/*++++++++ Tips from Amazon ******************************************************/

#feedback, #hlbcc, #hlb-upsell {
    width: 900px;
}

#feedback, #hlbcc, #hlb-upsell {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#feedback, #hlbcc, #hlb-upsell, #hl-feedback h4 {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 11px;
}

#confirm {
    margin-bottom: 10px;
}
#confirm-text {
    font-weight: bold;
}

#confirm-text, #hl-confirm-text-previously {
    color: #009900;
    font-family: arial,helvetica,sans-serif;
    font-size: 22px;
}


.s_confirmCheck {
    background-position: 0 0;
    height: 25px;
    width: 25px;
}

.hucSprite {
    display: inline-block;
}

#confirm-text .check {
    margin-right: 8px;
    position: static;
    vertical-align: top;
}

#items {
    width: 334px;
}

#items .item {
    margin: 0 0 10px;
}

#items {
    float: left;
    line-height: 15px;
    position: relative;
}

.item-title {
    font-weight: bold;
}

.item-byline {
    color: #000000;
}

.item-byline, .item-binding, .used-block {
    line-height: 15px;
}

.item .item-stats {
    float: left;
    width: 200px;
}

.item .price {
    float: left;
}

.price {
    color: #990000;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    white-space: nowrap;
}
.item-stats .price {
    margin-bottom: 5px;
    margin-top: 5px;
}


#cart {
    color: #000000;
    float: right;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}
#cart .subcart-box {
    margin-bottom: 0;
}

#cart-stats {
    display: inline;
    float: left;
    font-size: 13px;
    line-height: 15px;
    margin-left: 5px;
}
#cart-subtotal, #cart-itemcount {
    font-weight: bold;
}

#next-steps {
    display: inline;
    float: right;
    margin-right: 5px;
}

.cBox {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.cBoxInner {
    padding: 9px;
}

.primary, .secEyebrow h2 {
    background-color: #EAF3FE;
}


#cart .subcart-box {
    margin-bottom: 0;
}

.cart-button {
    margin-right: 10px;
}


.s_editCart {
    background-position: -30px -60px;
    height: 27px;
    width: 120px;
}

.s_checkout {
    background-position: -30px 0;
    height: 27px;
    width: 149px;
}
